/* front page  */
.app__frontpage {
  padding: var(--padding-y) var(--padding-x);
}

.app__frontpage-temps {
  margin-bottom: 2rem;
}

.app__frontpage-temps .btn {
  border: none;
  border-radius: 50%;
}

.temp-btn,
.temp-btn:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-blue);

  margin-left: 1rem;
}

.temp-btn:hover {
  box-shadow: var(--box-shadow-lg);
}

.temp-btn.active {
  background: var(--white-color);
  color: var(--very-dark-blue);
}

.temp-btn svg {
  width: 1.5rem;
  height: 2rem;
}

/* weather block */
.app__frontpage-weathers {
  flex-wrap: wrap;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.app__frontpage-weathers .card {
  /* margin-right: 1rem; */
  margin-bottom: 2rem;
  padding: 1rem;
  width: 9rem;
  height: 12rem;

  background: var(--dark-blue);
}

.app__frontpage-weathers .card:last-child {
  margin-right: 0;
}

.card h2,
.card span {
  font-size: 0.95rem;
}

.card h2 {
  text-align: center;
}

.card img {
  width: 4rem;
  height: 4rem;

  margin: auto;
  margin-bottom: 1rem;
}

.card div {
  justify-content: space-between;
}

.card span {
  display: flex;
  align-items: center;

  white-space: nowrap;
}

.card div span:first-child {
  margin-right: 1rem;
}

/* front page stats  */
.app__frontpage-stats h2 {
  font-size: 1.5rem;
  font-weight: 700;

  margin-top: 1rem;
  margin-bottom: 2rem;
}

.app__frontpage-stats .row,
.app__frontpage-stats .col-md-6 {
  padding: 0;
}

.col-md-6:nth-child(1) {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.col-md-6:nth-child(2) {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.col-md-6:nth-child(3) {
  padding-right: 1rem;
  padding-top: 1rem;
}

.col-md-6:nth-child(4) {
  padding-left: 1rem;
  padding-top: 1rem;
}

.app__frontpage-stats article {
  background: var(--dark-blue);

  padding: 1rem;
  text-align: center;
  height: max-content;
}

.app__frontpage-stats h3 {
  font-size: 1rem;
  margin: 0;
}

.info-value {
  font-size: 4rem;
  margin-right: 0.3rem;
}

.info-unit {
  font-size: 2rem;
}

/* wind status component icon  */
.play-icon-holder {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.play-icon-holder span:first-child {
  border-radius: 50%;

  background: var(--light-blue);

  padding: 0.3rem;
  margin-right: 0.5rem;
}

/* humidity progress bar  */
.humidity-bar {
  position: relative;

  width: 80%;
  height: 8px;
  margin: 2rem auto;

  border-radius: 5px;
  background: var(--bright-yellow);
  background: var(--white-color);
}

.humidity-bar span {
  position: absolute;
}

.humid-val-0 {
  left: 0;
  top: -330%;
}

.humid-val-50 {
  left: 50%;
  top: -330%;

  transform: translate(-50%, 0);
}

.humid-val-100 {
  right: 0;
  top: -330%;
}

.humid-val-percent {
  right: 0;
  top: 100%;
}

.humid-background {
  left: 0;
  top: 0;
  bottom: 0;

  background: var(--bright-yellow);
  border-radius: 6px;

  transition: all 0.3s linear;
}

@media screen and (max-width:750px) {
  .app__frontpage-weathers {
    align-items: center;
    justify-content: center;
  }

  .col-md-6:nth-child(1),
  .col-md-6:nth-child(2),
  .col-md-6:nth-child(3),
  .col-md-6:nth-child(4) {
    padding: 1rem 0;
  }
}