/* sidebar  */
.app__sidebar-info,
.app__sidebar-search {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: var(--padding-y) var(--padding-x);
  text-align: center;
}

/* **sidebar info**  */
.app__sidebar-info {
  position: relative;
}

/* sidebar top  */
.app__sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.app__sidebar-top>* {
  margin-bottom: 1rem;
}

.app__sidebar-top .btn {
  color: var(--white-color);
  background: var(--light-blue);

  border-radius: 1px;
  padding: 0.5rem 1.5rem;

  z-index: 100;
}

.app__sidebar-top .btn:hover {
  box-shadow: var(--box-shadow-sm);
}

.app__sidebar-top .aim-icon {
  color: var(--white-color);
  background: var(--light-blue);

  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.3rem;

  box-shadow: var(--box-shadow-sm);
}

/* sidebar image  */
.app__sidebar-image {
  height: 35vh;
  margin: 3rem 0;
}

.background {
  opacity: 0.1;
  position: absolute;
}

.main-image {
  width: 40%;
  height: 40%;
  object-fit: cover;
}

/* sidebar stats  */
.app__sidebar-stats {
  justify-content: space-between;
  flex: 1;
  color: var(--gray-color);
}

.temp {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.temp span:first-child {
  font-size: 8rem;
  color: var(--white-color);
}

.temp span:last-child svg {
  stroke-width: 1.5;
}

.condition {
  font-size: 2rem;
}

.time-and-place span {
  margin: 0 0.5rem;
}

.time {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.place {
  cursor: pointer;
  transition: 0.3s all linear;
}

.place:hover {
  color: var(--white-color);
}

/* **sidebar search**  */
/* close button  */
.app__sidebar-search .btn {
  background-color: transparent;
  transition: 0.3s all linear;

  padding: 1rem;
}

.app__sidebar-search .btn:hover {
  box-shadow: var(--box-shadow-sm);
}

.close-icon path {
  stroke: var(--white-color);
  stroke-width: 3;
}

/* form  */
.app__sidebar-form {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

label {
  position: relative;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem 1rem;
  padding-left: 3rem;
  margin-right: 1rem;
  flex: 1;

  background: transparent;
  border: 2px solid var(--very-light-blue);
  color: var(--white-color);
}

input:focus {
  outline: none;
  box-shadow: var(--box-shadow-sm);
}

input::placeholder {
  color: var(--gray-color);
}

input:-ms-input-placeholder {
  color: var(--gray-color);
}

input::-ms-input-placeholder {
  color: var(--gray-color);
}

/* search icon  */
.search-icon {
  position: absolute;
  top: 0.7rem;
  left: 0;

  width: 3rem;
  height: 1.5rem;
}

.search-icon path {
  stroke: var(--gray-color);
  stroke-width: 1;
}

/* search button  */
.app__sidebar-form .btn {
  padding: 0.6rem 1.5rem;
  margin-bottom: 1rem;

  background: var(--blue);
  border: 1px solid transparent;
  border-radius: 1px;

  color: inherit;
}

/* dropdown options  */
.dropdown .btn {
  text-align: left;
  border: 1px solid var(--very-light-blue);
}

.dropdown .btn:focus {
  border: 1px solid var(--very-light-blue);
}

.dropdown .btn::after {
  display: none;
}

.dropdown-menu {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.dropdown-item {
  color: var(--white-color);
  margin-top: 1rem;
  padding: 1.2rem;

  transition: 0.3s all linear;
  border-radius: 0.5rem;
}

.note {
  position: absolute;
  bottom: 10vh;
}

small {
  font-size: 0.7rem;
}

@media screen and (max-width:1350px) {
  form {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:750px) {
  .app {
    flex-direction: column;
  }

  .app__sidebar {
    width: 100%;
  }

  /* sidebar image  */
  .app__sidebar-image {
    margin: 1rem 0;
  }

  .time-and-place {
    margin-bottom: 3rem;
  }

  form {
    flex-wrap: nowrap;
  }

  label {
    flex: 1;
    padding-right: 1rem;
  }

  input {
    width: 100%;
  }
}