@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

/* css reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general styles  */
:root {
  --sidebar-background: #1E213A;
  --main-background: #100E1D;
  --humidity-bar-background: #FFEC65;
  --btn-background: #3C47E9;
  --btn-background2: #6E707A;

  --input-border: #616475;

  --white-color: #E7E7EB;
  --gray-color: #A09FB1;

  --base-font-family: "Raleway";
  --base-font-size: 18px;
  --sidebar-heading-size: 8rem;

  --padding-x: 5vw;
  --padding-y: 5vh;
}

body {
  font-size: var(--base-font-size);
  font-family: var(--base-font-family), sans-serif;
  background: var(--main-background);
  color: var(--white-color);
}

main {
  height: 100vh;
  width: 100vw;
}

.app__sidebar {
  width: 40%;
  background: var(--sidebar-background);
  height: 100%;
}

.app__frontpage {
  flex: 1;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:focus {
  border: none;
}